*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}
.manu-bar{
    padding: 50px 50px 0px;
    text-align: right;
}
.manu-bar ul li{
     display: inline;
    text-decoration: none;    
}
.manu-bar ul li a{
    text-decoration: none;
    color:dodgerblue;
    padding:30px
}
.manu-bar ul li a:hover{
    color: crimson;
}
#logo{
    width: 200px;
    top: 0px;
    left:0px;
}
h1{
    font-size: 52px;
    margin-top: 50px;
    padding: 15px;
}
p{
    font-size: 18px;
    padding: 15px;
}
span{
    color: salmon;
}
.section-part{
    display: flex;
    margin-bottom: 100px;
    padding-left: 20px;
}
.half-part{
    width: 50%;
}
.half-part img{
    width: 85%;
    padding-left: 80px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(lightseagreen, dodgerblue);
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 35px;
    word-spacing: 3px;
}
#banner{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: 1350px 780px;
    
}
#recipes{
    text-align: center;
}
.recipes-item{
    display: flex;
    width:65% auto;
    margin-left: 35px;
    margin-right: 35px;
}
.item-name{
    width: 33%;
    margin: 20px;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    padding: 15px;
}
h3{
    padding-left: 15px;
    padding-top: 10px;
}
.item-name img{
    width: 350px;
    height: 200px;
    padding-left: 5px;
    border-radius:10px;
}
#text-alin{
    text-align: center;
    margin: 150px 0px 50px;
}
.testimonials{
    text-align: center;
    margin: 0px 350px 300px 350px ;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}
.testimonials img{
    width: 250px;
}
footer{
    background-color: dodgerblue;
    text-align: center;
    margin-top: 80px;
    padding: 20px;
}
.counter{
    display: flex;
    margin: 100px;
    height: 200px;
    box-shadow: 5px 5px 50px;
    border-radius: 10px;
}
.counter-items{
    margin: 60px;
    padding: 10px
}