*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}
h1{
    font-size: 52px;
    margin-top: 50px;
    padding: 15px;
}
p{
    font-size: 18px;
    padding: 15px;
}
span{
    color: salmon;
}
.section-part{
    display: flex;
    margin-bottom: 100px;
    padding-left: 20px;
}
.half-part{
    width: 50%;
}
.half-part img{
    width: 85%;
    padding-left: 80px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(lightseagreen, dodgerblue);
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 35px;
    word-spacing: 3px;
}
#banner{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: 1350px 780px;
    
}
#recipes{
    text-align: center;
}
.recipes-item{
    display: flex;
    width:65% auto;
    margin-left: 35px;
    margin-right: 35px;
}
.item-name{
    width: 33%;
    margin: 20px;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    padding: 15px;
}
h3{
    padding-left: 15px;
    padding-top: 10px;
}
.item-name img{
    width: 350px;
    height: 200px;
    padding-left: 5px;
    border-radius:10px;
}